<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <header class="header">
        <nav>
            <ul class="nav">
                <li><a href="/shop">Shop</a></li>
                <li><a href="/admin/addProduct">Admin</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/success" method="POST">
          <input type="text" name="name" placeholder="name"/>
          <input type="email" name="email" placeholder="email"/>
          <button type="submit">send</button>
        </form>
      </main>
</body>
</html>